<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="./assets/images/favicon.png" />
    <script
      src="https://kit.fontawesome.com/6d7b554f88.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/main.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap"
      rel="stylesheet"
    />

    <title>Card</title>
  </head>
  <body>
    <section class="preview">
      <div class="wrapper">
        <article class="card js_cardPreview palette1">
          <div class="card__rectangle"></div>
          <div class="card__info">
            <h3 class="card__name js_cardname"><%= name %></h3>
            <p class="card__job js_cardjob"><%= job %></p>
          </div>
          <div class="card__photo">
            <div class="profile">
              <div
                class="profile__image js__profile-image"
                style="background-image: url(<%= photo %>)"
              ></div>
            </div>
            <nav class="card__footer">
              <ul class="socialmedia">
                <li>
                  <a class="js_cardtel" href="tel:<%= phone %>" title="Teléfono"
                    ><i
                      class="socialmedia__icon fa-solid fa-mobile-screen-button"
                    ></i
                  ></a>
                </li>
                <li>
                  <a
                    class="js_cardemail"
                    href="mailto:<%= email %>"
                    title="Correo"
                    target="_blank"
                    ><i class="socialmedia__icon fa-regular fa-envelope"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="js_cardlinkedin"
                    href="<%= linkedin %>"
                    title="LinkedIn"
                    target="_blank"
                    ><i class="socialmedia__icon fa-brands fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a
                    class="js_cardgithub"
                    href="<%= github %>"
                    title="GitHub"
                    target="_blank"
                    ><i class="socialmedia__icon fa-brands fa-github-alt"></i
                  ></a>
                </li>
              </ul>
            </nav>
          </div>
        </article>
      </div>
    </section>
  </body>
</html>
